html, body
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #FFFFFF; /*to be changed*/
}
#container
{
    width: 800px;
    margin: 0 auto;
    border: thin solid #468259;
    background-color: #abe0df;
    border-style: double;
    font-family: Book Antiqua;
}
.maincontent
{
    width: 580px;
    float: left;
    padding: 10px;
}



div.wrapper
{
    /*width:800px;*/ /*width: 980px;*/ /*width:1200px;*/
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
    background-color: White;
    margin: auto; /*Viewport Center*/
    border-width: 1px;
    border-style: solid;
    border-color: Black;
}

div.form
{
    border-color: #37C1BB;
    /*border-color: #0030ad;*/
    border-style: solid;
    border-top-width: 8px;
    border-left-width: 1px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    background-color: #FFFFFF;
    margin: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
}

div.form div.formHeader
{
    background-color: #37C1BB;
    /*background-color: #6a84ff;*/
    height: 25px;
    line-height: 22px;
    border-bottom-color: White;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 5px;
}

div.form div.formHeader span
{
    color: White !important;
}

div.form div.formTitle
{
    /*background-color:#8a9ebe;*/
    /*background-color: #6a84ff;*/
    background-color: #37C1BB;
    color: black;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.form div.errors
{
    margin: 5px;
    padding: 0px 3px 0px 3px;
    border: #FC6 2px solid;
    background-color: #FFC;
    font-family: Verdana;
    font-size: 8pt;
}

div.form div.errors p
{
    margin: 0px;
}

div.form div.errors p em
{
    color: #C00;
    font-style: normal;
    font-weight: bold;
}

div.form div.formBody
{
    padding: 5px;
}

div.form div.formBody table td em
{
    color: #C00;
    font-style: normal;
    font-weight: bold;
    font-size: larger;
}

input.error
{
    font-size: 9pt;
    border-color: #C00;
    background-color: #FEF;
}

textarea.error
{
    font-size: 9pt;
    border-color: #C00;
    background-color: #FEF;
}

span.error
{
    color: #C00;
}

select.error
{
    border-color: #37C1BB;
    /*border-color: #0030ad;*/
    background-color: #FEF;
}

span, label
{
    font-family: verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #313031;
}


input[type=text]
{
    font-family: verdana;
    font-size: 8pt;
    }

textarea
{
    font-family: verdana;
    font-size: 8pt;
    height: 40px;
}

.disabledCtrls
{
    background-color: #dcdcdc;
}

select
{
    font-family: verdana;
    font-size: 8pt;
    }
input[type=submit]
{
    font-family: verdana;
    font-size: 8pt;
    color: white;
    font-weight: bold;
    height: 25px; /*background-color: #53868B; */
    /*background-color: #0030ad;*/
    background-color: #37C1BB;
}

div.form div.formFooter
{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #37C1BB;
    /*border-top-color: #0030ad;*/
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

table.gridview
{
    font-family: Verdana;
    font-size: 8pt;
    border: 0px;
    border-collapse: collapse;
    margin: 0px;
    background-color: #F7F3EF;
    width: 100%;
}

table.gridview .gridviewHeader
{
    font-size: 9pt;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px; /*color:#000000;*/
    color: #2E2E2E;
    /*background-color: #6a84ff;*/
    background-color: #37C1BB;
}

table.gridview .gridviewRow
{
    border-top-color: #e7dfbd;
    border-top-style: solid;
    border-top-width: 1px;
}

table.gridview .gridviewSelectedRow
{
    background-color: White;
}

table.gridview .gridviewRow:hover
{
    background-color: #ffc;
}

table.gridview .gridviewRow a
{
    color: Black;
}
/*Required by jQuery DatePicker for Size*/
div.ui-datepicker
{
    font-size: 70%;
}
/*Required by jQuery DatePicker for Size*/

/* For Sorting By Birwa*/

table.gridview thead tr th, table.gridview tfoot tr th
{
    font-size: 9pt;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    color: white;
}
table.gridview thead tr .header
{
    background-image: url( '../../images/Cream_BtnUDC.png' );
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    background-color: #37C1BB;
    /*background-color: #6a84ff;*/
    color: black;
}
table.gridview tbody td
{
    color: #3D3D3D;
    padding: 4px; /*background-color: #F7F3EF;*/
    vertical-align: top;
}
table.gridview tbody tr.odd
{
    background-color: #FFFFF9;
}
table.gridview thead tr .headerSortUp
{
    background-image: url( '../../images/Cream_BtnU.png' );
}
table.gridview thead tr .headerSortDown
{
    background-image: url( '../../images/Cream_BtnD.png' );
}
table.gridview thead tr .headerSortDown, table.gridview thead tr .headerSortUp
{
    background-color: #37C1BB;
    /*background-color: #0030ad;*/
}

/* For Sorting By Birwa*/

/*Layout Changes */
.content
{
    background: url( "../../images/rgt_shadow.jpg" ) repeat-y scroll right top #FFFFFF;
    border-left: 1px solid #EFEFF1;
    padding-right: 3px;
}
.col_left
{
    background: url( "../../images/left_bg.jpg" ) repeat-y scroll right top transparent;
    padding: 0 20px 0 16px;
    width: 670px;
}
.col_right
{
    background: url( "../../images/rgt_rpt.gif" ) repeat-x scroll left bottom transparent;
    width: 255px;
}
/*Layout Changes */

div.RightContent
{
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
}

.list_1 ul li
{
    background: url( "../../images/r_aro_icon.gif" ) no-repeat scroll left 10px transparent;
    padding: 10px 30px;
}
ul, li
{
    list-style: none outside none;
    margin: 0;
    font-weight: normal;
    text-align: justify;
}

.hidden
{
    display: none;
}
.cellColor
{
    color: #B52025;
}

#infobox
{
    width: 365px;
    float: left;
    margin-top: 10px;
}

#infoLargebox
{
    /*width:665px;*/
    width: 478px; /*float:left; 	margin-top:10px;*/
}
#sidebar
{
    background: #FFF;
    width: 170px;
    float: right;
    margin: 10px 0 10px 0;
    padding: 10px;
}

div.form div.infoHeaderbox
{
    /*width:665px;*/ /*width:656px;*/
    width: 469px;
    background-color: #37C1BB;
    /*background-color: #6a84ff;*/
    height: 25px;
    line-height: 22px;
    font-family: Verdana;
    font-weight: bold;
    color: #313031;
    font-size: 8pt;
    padding-left: 5px;
    padding-right: 5px;
}
div.form div.infoDetailbox
{
    /*width:665px;*/
    width: 478px;
}
div.form div.content
{
    /*width:675px;*/
    width: 550px;
    float: left;
    margin: 10px 0 10px 0;
    padding: 10px;
}

div.form div.sidebar
{
    background: #FFF;
    width: 170px;
    float: right;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: #313031;
    font-size: 8pt;
}
/*********************
	Sidebar
*********************/
div.form div.sidebar ul
{
    list-style: none;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
div.form div.sidebar ul li a, div.form div.sidebar ul li a:visited
{
    padding-left: 19px;
    text-decoration: none;
    margin: 0 3px;
    display: block;
    color: #313031;
}
div.form div.sidebar ul li a:hover
{
    text-decoration: underline;
    color: #313031;
}
div.form div.sidebar ul li ul
{
    margin-left: 10px;
}
div.form div.sidebar h3
{
    padding: 2px;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    color: #313031;
    background: #d9eaed;
    border-bottom: 1px solid #c3d7db;
}
.folder_table
{
    background: transparent url(../../images/folder_page.png) no-repeat left;
}

div.wrapperSmall
{
    /*width:800px;*/ /*width:980px;*/
    width: 788px;
    background-color: White;
    margin: auto; /*Viewport Center*/
    border-width: 1px;
    border-style: solid;
    border-color: Black;
}

input[type=submit]:focus
{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
}
input[type=text]:focus, textarea:focus, select:focus, radio:focus
{
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
}

.likeLable
{
    border: 1px dotted #37C1BB;
    /*border: 1px dotted #0030ad;*/
    background-color: #f3f3ec;
    text-align: right;
}

.likeLable:focus
{
    background-color: White;
    text-align: right;
}
#MsgDiv
{
    display: none;
    padding: 0.5em;
    min-width: 100px;
    border-color: #F0C36D;
    background-color: #F9EDBE;
    color: Black;
    border-radius: 2px;
    position: fixed;
    left: 45%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
#MsgDiv span
{
    color: Black;
}
